{% extends 'base.html.twig' %}

{% block title %}New Capitale{% endblock %}

{% block body %}
    <h1>Create new Capitale</h1>

    {{ include('capitale/_form.html.twig') }}

    <a href="{{ path('capitale_index') }}">back to list</a>
{% endblock %}
